<h1>Dribble table</h1>
<div class="pull-right"><%= link_to("新增貼文", new_post_path, class: "btn btn-info") %></div>
<% @posts.each do |post| %>
<div class="col-md-3"
<div class="panel panel-default">
<% if post.photo.present? %>
<%= link_to post_path(post) do %>
<div class="panel-body"><%= image_tag( post.photo.image.medium.url, class: "thumbnail") %></div>
<% end %>
<% end %>
<div class="panel-footer"><%= link_to(post.title, post_path(post))  %>
<p><%= post.get_upvotes.size %><i class="fa fa-thumbs-o-up"></i></p>
<p><%= render_comments_count(post) %>則留言</p></div>
</div>
<% end %>
