<h1><%= @post.title %></h1>
<p><%= @post.link %></p>
<p><%= @post.description %></p>


<%= link_to("編輯貼文", edit_post_path(@post), class: "btn btn-info") %>
<%= link_to("刪除貼文", post_path(@post),method: :delete, class: "btn btn-danger") %>
<%= link_to("返回首頁", root_path, class: "btn btn-primary") %>
